body{
  margin: 0;
  padding: 0;
}
header{
  font-size: 50%;
}
figure>img{
  width: 200px;
  height: 300px;
  display: inline-block;
  float: left;
}

h1{
  text-align: center;
  color:pink;
  font-size: 70px;
  margin-left: 600px;
  margin-top: 4%;
  display: inline-block;
  text-shadow: 4px 4px #708090;
}
h2{
  text-align: center;
  color: pink;
  text-shadow: 3px 3px black;
  font-size: 50px;
  background-color: grey;
  border-radius: 5px;
  box-shadow: 3px -3px pink;
}

img{
height: 300px;
height: 130px;
}
nav li{
  display: inline-block;
  text-align: center;
  margin-left: 3em;
  margin-top: 1em;
  background-color: pink;
  padding: 0.5em;
  border-radius: 5px;
}
nav{
  text-align: center;
  background-color: grey;
  margin:3em;
  margin-top: 5%;
  height: 4em;
  border-radius: 5px;
}

nav a{
color: #000;
  text-decoration: none;
}
article{
  border: 1px solid black;
  width: 300px;
  margin-left: 12%;
  display: inline-block;
  border-radius: 3px;
  box-shadow: 4px 4px #708090;
}
article a{
  text-decoration: none;
}
section{
  margin-left: 5em;
  margin-top: 10%;
}

footer{
border: 1px solid black;
border-radius: 6px;
margin-top: 8%;
}

footer,article{
  border-left: none;
  border-top: none;
}
iframe{
width:700px;
 height:500px;
 frameborder:0;
 style="border:0" allowfullscreen;
}
