body{
  margin: 0;
  padding: 0;
}
header{
  font-size: 50%;
}
figure>img{
  width: 200px;
  height: 300px;
  display: inline-block;
  float: left;


}
h1{
  text-align: center;
  color:pink;
  font-size: 55px;
  margin-left: 600px;
  display: inline-block;
}
img{
height: 300px;
height: 130px;
}
nav li{
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  margin-left: 3em;
}
nav{
  text-align: center;
  background-color: grey;
  margin:3em;
  margin-top: 10%;
  height: 2em;
}
a:hover{
  background-color: red;
  text-decoration: none;

}
article{
  border: 1px solid black;
  width: 300px;
  margin-left: 10%;
  display: inline-block;
  border-radius: 3px;
  box-shadow: 3px 3px #708090;
}
section{
  margin-left: 5em;
  margin-top: 10%;
}
footer{
border: 1px solid black;
border-radius: 6px;
margin-top: 8%;
/*background: linear-gradient( to bottom, white, orange)*/
}
footer,article{
  border-left: none;
  border-top: none;
}
